/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 0 100px;
  font-family: "Orbitron", sans-serif;
}

ul {
  list-style: none;
}

:root {
  --primary-color: #101010;
  --secondary-color: #757575;
}