/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Righteous&display=swap");
/* font-family: 'Poppins', sans-serif;
font-family: 'Righteous', cursive; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--primary-txt-color);
}

:root {
  --primary-color: #4516fe;
  --bg-color: #f8f8fa;
  --primary-txt-color: #010101;
  --secondary-txt-color: #000000cc;
  --tertiary-txt-color: #ffffffcc;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 48px;
  font-weight: 800;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

img {
  max-width: 100%;
}

button,
input {
  font-family: inherit;
  font-size: 16px;
}

/* -------------- header -------------- */
header {
  height: 80%;
  width: 100%;
  background-color: var(--primary-color);
  color: #ffffff;
}

/* --------------- navbar --------------- */
nav {
  height: 15%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .menue-icon {
  display: none;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-item a {
  color: #ffffff;
}

.nav-btn-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-btn-secondary,
.nav-btn-primary {
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 2px 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.nav-btn-secondary {
  background-color: var(--primary-color);
  color: #ffffff;
}

.nav-btn-secondary:hover {
  background-color: #ffffff;
  color: var(--primary-color);
}

.nav-btn-primary {
  background-color: #ffffff;
  color: var(--primary-color);
  font-weight: 500;
}

.nav-btn-primary:hover {
  background-color: #ffffffe6;
}

.nav-icon {
  font-size: 18px;
  cursor: pointer;
}

/* ---------------- hero ---------------- */
.hero {
  height: 75%;
  width: 100%;
  padding-left: 80px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.hero-left-container {
  margin-top: 80px;
}

.hero-left-container h1 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.hero-left-container p {
  color: var(--tertiary-txt-color);
}

.hero-img {
  position: relative;
  top: 20px;
}

/* ----------- companies section ----------- */
.companies {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

.company-items {
  font-family: "Righteous", cursive;
  color: var(--primary-txt-color);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
}

.company-items + .company-items {
  margin-left: 60px;
}

/* -------------- api section -------------- */
.api {
  width: 90%;
  margin: 120px auto;
}

.cards {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.card-active {
  background-color: #ffffff;
  box-shadow: 4px 4px 10px #0000001a;
}

.card-active,
.card {
  padding: 40px 20px;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.card:hover {
  background-color: #ffffff;
  box-shadow: 4px 4px 10px #0000001a;
}

.card-head-active {
  color: var(--primary-color);
}

.card-head,
.card-head-active {
  font-size: 24px;
  font-weight: 600;
}

.card-body {
  color: var(--secondary-txt-color);
}

/* ------------- blog section ------------- */
.blog-heading,
.blog-cards {
  width: 90%;
  margin: 0 auto;
}

.blog-cards {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.blog-card {
  display: flex;
}

.blog-content {
  background-color: #ffffff;
  box-shadow: 4px 4px 10px #0000001a;
  padding: 40px 30px 0 50px;
  border-radius: 0px 12px 12px 0px;
}

.blog-content h6 {
  color: var(--primary-color);
}

.blog-content small {
  color: var(--secondary-txt-color);
}

.blog-bottom {
  display: flex;
  gap: 10px;
  position: relative;
  top: 30px;
}

/* -------------- faq section -------------- */
.faq-section {
  width: 100%;
  margin: 80px 0;
  padding-left: 80px;
  background-color: #e9edff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-content p {
  margin-top: 15px;
  color: var(--secondary-txt-color);
}

.faq-content h4 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn-primary {
  font-size: 18px;
  font-weight: 600;
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 8px 20px;
  border: none;
  border-radius: 6px;
  outline: 2px solid var(--primary-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: #ffffff;
  color: var(--primary-color);
}

/*------------ download section------------ */
.download-section {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download-content span {
  font-weight: 400;
  color: var(--secondary-txt-color);
}

form {
  width: 500px;
  background-color: #e9edff;
  padding: 8px 10px 8px 30px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  border: none;
  background-color: #e9edff;
  padding: 4px 12px;
}

input::placeholder {
  color: var(--secondary-txt-color);
}

form button {
  border-radius: 20px !important;
}

/* ------------ footer section ------------ */
.footer-section {
  width: 100%;
  padding: 60px 80px;
  background-color: var(--primary-color);
  color: var(--tertiary-txt-color);
  display: flex;
  justify-content: space-between;
}

.footer-left .list,
.logos-list {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.footer-logos + .footer-logos {
  margin-left: 30px;
}

.list-items,
.footer-logos {
  cursor: pointer;
}

/* media queries */
@media (max-width: 426px) {
  /* ---------- global styles ---------- */
  h1 {
    font-size: 48px;
    font-weight: 800;
  }

  h2 {
    font-size: 36px;
    font-weight: 700;
  }

  h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }

  /* -------------- header -------------- */
  header {
    height: 100%;
  }

  /* ----------- navbar ----------- */
  nav .menue-icon {
    font-size: 30px;
    display: block;
  }

  .nav-list {
    display: none;
  }

  .hero {
    height: 85%;
    width: 90%;
    margin: 0 auto;
    padding-left: 0;
  }

  .hero-left-container {
    margin-top: 50px;
  }

  .hero-img {
    display: none;
  }

  /* ----------- companies section ----------- */
  .companies {
    display: none;
  }

  /* ----------- api section ----------- */
  .cards {
    gap: 20px;
  }

  .card-active h3,
  .card h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  /* ----------- blog section ----------- */
  .blog-cards {
    margin-top: 60px;
    flex-direction: column;
    gap: 40px;
  }

  .blog-content {
    padding: 15px 15px 0 20px;
  }

  .blog-content h6 {
    margin-bottom: 10px;
  }

  .blog-content small {
    display: none;
  }

  /* -------------- faq section -------------- */
  .faq-section {
    padding-left: 20px;
  }

  .faq-image {
    display: none;
  }

  .faq-content {
    padding: 40px 0;
  }

  .faq-content h2 {
    line-height: 36px;
  }

  /*------------ download section------------ */
  .download-section {
    flex-direction: column;
    gap: 20px;
  }

  form {
    width: 350px;
    padding: 8px 10px 8px 10px;
  }

  input {
    width: 200px;
  }

  /* ------------ footer section ------------ */
  .footer-section {
    padding: 60px 20px;
    flex-direction: column;
    gap: 40px;
  }

  .footer-left .list {
    margin-top: 40px;
    flex-direction: column;
    gap: 20px;
  }
}
