/* glabal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0 100px;
  font-family: "Red Rose", cursive;
  background-image: linear-gradient(to bottom, #242b42cc, #242b42cc),
    url(./assets/pexels-maxyne-barcel-10402282\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

ul {
  list-style: none;
}

:root {
  --primary-color: #ff505f;
  --secondary-color: #ffc233;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
}

.logo {
  height: 40px;
  cursor: pointer;
}

.list {
  color: var(--secondary-color);
  display: flex;
  gap: 60px;
}

.list-item {
  font-size: 18px;
  cursor: pointer;
}

.button-small {
  font-family: "Red Rose", cursive;
  font-weight: 500;
  background-color: var(--primary-color);
  font-size: 18px;
  color: #ffffff;
  border: none;
  padding: 8px 24px;
  cursor: pointer;
}

/* hero section */
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-heading {
  font-family: "Dela Gothic One", sans-serif;
  color: var(--secondary-color);
  font-size: 80px;
  max-width: 1000px;
  text-align: center;
  line-height: 100px;
  letter-spacing: 3px;
  margin-bottom: 40px;
}

.button-large {
  font-family: "Red Rose", cursive;
  font-weight: 600;
  background-color: var(--primary-color);
  font-size: 24px;
  color: #ffffff;
  border: none;
  padding: 14px 38px;
  cursor: pointer;
}

.bottom {
  align-self: flex-end;
  cursor: pointer;
}

.bottom img {
  width: 120px;
}
