/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
/* font-family: 'Roboto', sans-serif; */

/* global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

:root {
  --primary-color: #404895;
  --secondary-color: #636895;
  --btn-color: linear-gradient(to right, #965cf2, #ff8adc);
}
