/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Abel", sans-serif;
  background-color: #f4f3f8;
  position: relative;
}

:root {
  --primary-color: #466d50;
  --txt-primary-color: #101010;
  --txt-secondary-color: #484848;
}

/* navbar */
nav {
  margin: 0 100px;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
  cursor: pointer;
}

.nav-list {
  list-style: none;
  display: flex;
  font-family: "Allerta", sans-serif;
  color: var(--txt-primary-color);
  gap: 60px;
}

.nav-item {
  font-weight: 600;
  cursor: pointer;
}

.active::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--txt-primary-color);
  margin-top: 3px;
}

.nav-icons {
  display: flex;
  gap: 40px;
}

.nav-icons img {
  cursor: pointer;
}

/* main section */
main {
  height: 80vh;
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.txt-container {
  width: 580px;
}

.heading {
  font-family: "Allerta", sans-serif;
  font-size: 124px;
  font-weight: 700;
}

.txt-para {
  font-size: 26px;
  color: var(--txt-primary-color);
}

.para-one {
  margin-bottom: 10px;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: #ffffff;
  width: 200px;
  border-radius: 60px;
  padding: 10px 14px;
  margin-top: 40px;
  cursor: pointer;
}

.btn-icon {
  margin-left: 10px;
  height: 22px;
}

.bottom-container {
  margin-top: 80px;
  display: flex;
  gap: 30px;
}

.item-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

#feeding {
  margin-top: 12px;
}

h4 {
  font-family: "Allerta", sans-serif;
  font-size: 20px;
  color: var(--txt-primary-color);
  font-weight: 700;
}

.text {
  color: var(--txt-secondary-color);
  margin-top: 5px;
}

.plant-img {
  height: 590px;
}

/* dots */
.dot-container {
  position: absolute;
  top: 280px;
  left: 35px;
}

.dot {
  margin: 25px 20px;
  position: relative;
  width: 10px;
  height: 10px;
  background: #000000;
  border-radius: 5px;
  cursor: pointer;
}

.dot-active::before {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border: 1px solid #000000;
  border-radius: 50%;
}
